html,body {

    height: 100vh;
    width: 100%;
 
}

#header,
#footer{
    height: 10vh;
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
}

#link-container{
    display: flex;
    margin-left: auto;
    margin-right: 12vw;
} 

.header-link{
    margin-right: 20px;
}

h3{
margin-left:12vw;
}

.section{
    height: 20vh;
    margin-left: 12vw;
    margin-right: 12vw;

    display: flex;
    align-items: center;
 }

 #primary-text{

 }

 #primary-image{
     max-height: 180px;
     padding-left: 125px;
 }
