html,body {

    height: 100vh;
    width: 100%;
 
}

#header,
#footer{
    height: 10vh;
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
}

#link-container{
    display: flex;
    margin-left: auto;
    margin-right: 12vw;
} 

.header-link{
    margin-right: 20px;
}

#header > h3{
    margin-left:12vw;
}

.section{
    height: 20vh;
    margin-left: 12vw;
    margin-right: 12vw;    
}

.section:nth-of-type(1){
    display: flex;
    align-items: center;
 }

 .section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
 }

 .section:nth-of-type(3){
     display: flex;
     flex-direction: column;
    justify-content: center;
 }

 .section:nth-of-type(3) > h4{
    float: right;
    text-align: right;
 }

 .section:nth-of-type(4){
    display: flex;
    justify-content: center;
 }

 #primary-text{

 }

 #primary-image{
     max-height: 180px;
     padding-left: 125px;
 }

 #secondary-image-container{
     width: 100%;
     display: flex;
     justify-content: center;

 }

 .info-images{
     display: inline-block;
     max-height: 150px;
     max-width: 150px;

     text-align: center;

     padding-left: 10px;
     padding-right: 10px;
 }

 .info-images > img{
    max-height: 150px;
    max-width: 125px;

    border: 1px solid black;
 }

 #banner{
    
    display: flex;

    height: 80%;
    width: 80%;
     border: 1px solid blue;
 }

 #banner-text-container{
margin-top: 10px;
 }

 #sign-container{
     display: flex;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
 }

 #sign-container > button{
     height: 25px;
}


