html,body {
    height: 100%;
    width: 100%;
}

.section,
#header,
#footer{
    padding-left: 12vw;
    padding-right: 12vw;   
}

#header,
#footer{
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#link-container{
    display: flex;
    margin-left: auto;
    
} 

.header-link{
    padding-right: 20px;
}

#top-section{
    height:40vh ;

    display: flex;
    align-items: center;
}

 #image-section{
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;  
}

#quote-section{
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

 #bottom-section{
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

 #quote-section > h4{
    float: right;
    text-align: right;
}

 #primary-image{
    max-height: 180px;
    padding-left: 125px;
}

 #secondary-image-container{
    display: flex;
    justify-content: center;

}

 .info-images{
    display: inline-block;
    text-align: center;
    width: 150px;

    padding-left: 35px;
    padding-right: 35px;
}

 .info-images > img{
    max-height: 250px;
    max-width: 150px;


    border: 3px solid #3882f6;
    border-radius: 10px;
}

 #banner{
    display: flex;

    height: 50%;
    width: 85%;
    border-radius: 10px;
    background-color: #3882f6;
}

 #banner-text-container{
    padding-left: 100px;
}

 #sign-container{
     display: flex;
    padding-left: 300px;
    justify-content: center;
    align-items: center;
}

#header,
#top-section,
#footer{
    background-color: #1f2937;
}

#quote-section{
    background-color: #e5e7eb;
}

h1,h2,h3,h4{
    font-family: "Roboto serif";
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

h3{
    font-size: 24px;
    color: #f9faf8;
}

h4{
    font-size: 18px;
    color: #e5e7eb;
}

.info-images > h4,
#quote-section > h4{
    color: #1f2937;
}

button{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-color: white;
    background-color: #3882f6;
}

#primary-text > button{
    border-style: none;
}

#sign-container > button{
    border-style: solid;
}